/* tutorial hacklab */
#certificate--meu-certificado {
    width: 1250px;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    overflow: hidden;
    margin: auto;
}
#certificate--meu-certificado img.cert-background {
    position: absolute;
    z-index: -1;
    width: 1250px;
}
#certificate--meu-certificado p.certificate-content {
    margin: 220px 212px 0 90px;
    font-size: 22px;
    line-height: 2.2rem;
    text-align: justify;
    height: 505px;
}
#certificate--meu-certificado p.certificate-content span.entity-name {
    font-size: 22px;
    font-style: italic;
}
#certificate--meu-certificado .footer {
    width: 100%;
}
#certificate--meu-certificado .footer .entity-url {
    margin-left: 160px;
    margin-top: 95px;
    width: 240px;
    font-size: 13px;
    overflow: visible;
}
#certificate--meu-certificado .footer .footer-signatures {
    width: 730px;
    text-align: center;
    float: right;
    position: absolute;
    margin-top: -20px;
}
#certificate--meu-certificado .footer .footer-signatures div {
    display: inline;
}
#certificate--meu-certificado .footer .footer-signatures div.certificate-seal-owner p {
    margin-bottom: 0px;
    height: 50px;
}
#certificate--meu-certificado .footer div {
    position: relative;
    vertical-align: bottom;
    display: inline-block;
}
#certificate--meu-certificado .footer div.footer-img {
    margin: 0 7px;
}
#certificate--meu-certificado .footer div.footer-img > img {
    height: 82px;
}
/* DECLARAÇÃO ESP */
.center {
    margin: auto;
    width: 60%;
    padding: 10px;
    background: white;
}

.img-header {
    flex: 1;
    width: 90%;
    margin: auto;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}
.display-seal-relation-esp {
    flex: 1;
}
.seal-avatar-esp > a > img {
    border: 1px solid #c3c3c3;
    border-radius: 8px;
    width: 50%;
}
.agent-avatar-esp > a > img {
    border: 1px solid #c3c3c3;
    border-radius: 8px;
    width: 50%;
}
.display-seal-relation-esp {
    flex: 1;
}
.seal-avatar-esp > a > img {
    border: 1px solid #c3c3c3;
    border-radius: 8px;
}
.agent-avatar-esp > a > img {
    border: 1px solid #c3c3c3;
    border-radius: 8px;
    width: 50%;
}
.text-center {
    text-align: center;
    margin-top: 10px;
}
