body { 
    font-family: helvetica; 
}

/* tutorial hacklab */
#certificate--meu-certificado {
    width: 1250px;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    overflow: hidden;
    margin: auto;
}
#certificate--meu-certificado img.cert-background {
    position: absolute;
    z-index: -1;
    width: 1250px;
}
#certificate--meu-certificado p.certificate-content {
    margin: 220px 212px 0 90px;
    font-size: 22px;
    line-height: 2.2rem;
    text-align: justify;
    height: 505px;
}
#certificate--meu-certificado p.certificate-content span.entity-name {
    font-size: 22px;
    font-style: italic;
}
#certificate--meu-certificado .footer {
    width: 100%;
}
#certificate--meu-certificado .footer .entity-url {
    margin-left: 160px;
    margin-top: 95px;
    width: 240px;
    font-size: 13px;
    overflow: visible;
}
#certificate--meu-certificado .footer .footer-signatures {
    width: 730px;
    text-align: center;
    float: right;
    position: absolute;
    margin-top: -20px;
}
#certificate--meu-certificado .footer .footer-signatures div {
    display: inline;
}
#certificate--meu-certificado .footer .footer-signatures div.certificate-seal-owner p {
    margin-bottom: 0px;
    height: 50px;
}
#certificate--meu-certificado .footer div {
    position: relative;
    vertical-align: bottom;
    display: inline-block;
}
#certificate--meu-certificado .footer div.footer-img {
    margin: 0 7px;
}
#certificate--meu-certificado .footer div.footer-img > img {
    height: 82px;
}
/* DECLARAÇÃO ESP */
.center {
    margin: auto;
    width: 60%;
    padding: 10px;
    background: white;
}

.img-header {
    margin-top: 24px; 
    margin-left: 123px; 
    margin-right: 123px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}
.display-seal-relation-esp {
    flex: 1;
}
.seal-avatar-esp > a > img {
    border: 1px solid #c3c3c3;
    border-radius: 8px;
    width: 50%;
    float: right;
    margin-right: 10px;
}
.agent-avatar-esp > a > img {
    border: 1px solid #c3c3c3;
    border-radius: 8px;
    width: 50%;
}
.display-seal-relation-esp {
    flex: 1;
}
.seal-avatar-esp > a > img {
    border: 1px solid #c3c3c3;
    border-radius: 8px;
}
.agent-avatar-esp > a > img {
    border: 1px solid #c3c3c3;
    border-radius: 8px;
    width: 50%;
}
.text-center {
    text-align: center;
    margin-top: 10px;
}

.holder {
    display: flex;
    justify-content: right;
}
.imagem {
  width: 200px;
  margin: 10px;
  position: relative;
  text-align: center;
}

.seal-relation-shortdescription{
margin-top: 24px;
left: 24px;
top: 88px;

font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 12px;
text-align: center;

/* Black 60 */

color: rgba(0, 0, 0, 0.6);

}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.img-container {
    text-align: center;
    display: block;
}

.color-label-certified-title {
    color: rgba(34, 34, 34, 0.623);
    font-style: normal;
    font-size: 24px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 0.5px;  
    margin-top: 30px;
}

.color-label-certified {
    width: 634px;   
    left: 80px;      
    font-family: 'Archivo';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.5px;
}

.seal-certifiedclass {
    margin-top: 30px;
    margin-bottom: 70px;
}

.info-link-certified {
    width: 303px;
    height: 11px;
    
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 11px;
    display: flex;
    align-items: center;
    
}

.link-selo-certified {
    position: absolute;
    width: 235px;
    height: 9px;
    left: 24px;
    bottom: 64px;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 9px;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgba(0, 0, 0, 0.87);
}
.footer {
    margin-bottom: 30mm;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
.footer img {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    object-fit: cover; /* classe pra deixar a imagem com a proporção correta e não ficar achatada */
}


.td-format{
    width: 30%;
}

.assinatura-certified {
    text-align: center;
    padding: 10px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
}
.mrg-50-left {
    margin-left: 50px;
}

.mrg-50-right {
    margin-right: 50px;
}

.img-logo-esp{
    float: right;
    margin-right: 24px;
}

.sealcertified-link {
    color: rgba(0, 0, 0, 0.87);
    font-weight: bold;
}
.sealcertified-accredited {
    margin-top: 7px; 
    margin-left: 80px; 
    margin-right: 80px; 
    text-align: center; 
    font-size: 8px; 
    color: #848282;
}
.sealcertified-img-green {
    height: 32px;
    margin-left: 123px; 
    margin-right: 123px;
}
.sealcertified-div-link {
    position: fixed; /* VERIFICAR SE ESTÁ ALTERANDO*/  
    bottom:3cm; /* VERIFICAR SE ESTÁ ALTERANDO*/ 
    margin-top: 173px; 
    text-align: center; 
    font-size: 10px;
}
